.container {
    width: 1280px;
    height: 760px;
}

.login-content {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 7px #0000001A;
    border-radius: 8px;
    opacity: 0.85;
    width: 412px;
    height: 287px;
    margin-top: 80px;
    margin-left: 80px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.login-header {
    font: Bold 19px/23px Oxygen;
    letter-spacing: 0.95px;
    color: #0288D1;
    margin-bottom: 27px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    width: 302px;
    height: 28px;
    border: 1px solid #EEEEEF;
    border-radius: 4px;
    padding: 7px 0 6px 14px;
    margin-bottom: 10px;
    color: #B9B9B9;
    letter-spacing: 0.5px;
}

.language  {
    width: 100%;
    height: 40px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #EEEEEF;
    padding: 7px 0 6px 14px;
    color: #707070;
    letter-spacing: 0.5px;
    font-weight: 300;
}

.login-btn {
    width: 122px;
    height: 28px;
    background: #BBBBBB 0% 0% no-repeat padding-box;
    border-radius: 4px;
    margin: 16px 0 5px 0;
    font: Regular 11px/13px Oxygen;
    letter-spacing: 0.55px;
    color: #FFFFFF;
}

.signup-link-wrapper {
    display: inline;
}

.signup-link {
    margin-left: 7px;
    text-decoration: none;
    color: #0288D1;
}

.container {
    position: relative;
}
.left-rec {
    position: absolute;
    left: 625px;
    top: 350px;
}

.left-line {
    position: absolute;
    left: 600px;
    top: 350px;
}

.right-rec {
    position: absolute;
    left: 1300px;
    top: 100px;
}

.right-line {
    position: absolute;
    left: 1300px;
    top: 90px;
}

.account {
    font-size: 12px;
    margin-top: 5px;
}

.account a{
    color: #3e9ad7;
}



