<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Roboto:400,500&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>

  <main class="main-container">
      <header class="main-header" *ngIf="isAuthenticated">
          <div class="box-shadow-menu"></div>
          <div class="profile">
              <img class="profile-pic" src="../../assets/images/profile-pic.png" alt="">
          </div>
          <div>
              <a class="logout" (click)="onLogout()">Logout</a>   
          </div>
      </header>
      <div class="left-panel" *ngIf="isAuthenticated">
          <span class="dash">D</span>
          <span class="recived">
              <a href="" routerLink="recivedMessages">
                  <img src="../../assets/images/Receive@2x.png" alt="">
              </a>
          </span>
          <span class="sent">
              <a href="" routerLink="sentMessages">
                  <img src="../../assets/images/sent@2x.png" alt="">
              </a>
          </span>
          
      </div>
      <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <!-- <small class="copy-right-text">Copyright © 2020 Minimus</small> -->
  </footer>
</body>
</html>