<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="https://fonts.googleapis.com/css?family=Oxygen:300,400,700|Roboto:400,500&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <!-- <header class="header">
    

    <div class="mode">
      <span class="toggle-text">Light</span> 
      <label for="mode" class="switch">
        <input type="radio" name="mode">
        <span class="toggle-switch round"></span>
      </label>
      <span class="toggle-text">Dark</span> 
    </div>
  </header> -->
  <main class="main-container">
      <router-outlet></router-outlet>
  </main>
  <footer class="footer">
    <!-- <small class="copy-right-text">Copyright © 2020 Minimus</small> -->
  </footer>
</body>
</html>