<div class="container">
    <main class="signup-content">
        <span class="signup-header">Registration</span>
        <!-- signup form -->
  
        <form class="signup-form">
          <input type="email" autofocus placeholder="Email" name="email" class="signup-input" required>
          <input type="password" placeholder="Password" name="password" class="signup-input" minlength="6" required>
          <input type="password" placeholder="Repeat Password" name="password-repeat" class="signup-input" minlength="6" required>
          <input type="submit" name="submit" value="Confirm" class="signup-btn">
        </form>
      </main>
</div>
